<div class="wrapper modal fadeInDown">
    <div style="padding-top: 50px; padding-bottom: 30px;" id="formContent">

        <p style="font-size: large; font-weight: bold;"> Are you sure to Place order? </p>
        <!-- <button style="position: absolute; top: 0; right: 0;" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <mat-icon aria-hidden="false" aria-label="Example home icon" color="warn" >close</mat-icon>
        </button> -->

        <div style="margin: auto; margin-top: 10px; display: inline-block;" >
            <button class="btn btn-lg btn-outline-warning" style="margin-right: 10px;" (click)="checkout()" > Yes </button>
            <button class="btn btn-lg btn-outline-dark" style="margin-left: 10px;" (click)="close()" > No </button>
        </div>

    </div>
</div>